[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
pandas-stubs = "*"
ipykernel = "*"
matplotlib = "*"
skl2onnx = "*"
onnxruntime = "*"
dice-ml = "*"
termcolor = "*"
torch = "==2.3.0"
scikit-learn = "*"
numpy = "*"
lightgbm = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
